In [1]:
import nltk
import wikipedia
import string
import math
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [2]:
stopwords_list = nltk.corpus.stopwords.words('indonesian')
wikipedia.set_lang('id')

In [4]:
keyword = input("Keyword : ")
dataTraining = wikipedia.summary(keyword).lower()

Keyword : komodo

In [5]:
dataTraining

'komodo, atau juga disebut biawak komodo (varanus komodoensis), adalah spesies biawak besar yang terdapat di pulau komodo, rinca, flores, gili motang, dan gili dasami di provinsi nusa tenggara timur, indonesia. biawak ini oleh penduduk asli pulau komodo juga disebut dengan nama setempat ora.komodo merupakan spesies terbesar dari familia varanidae, sekaligus kadal terbesar di dunia, dengan rata-rata panjang 2-3 meter dan beratnya bisa mencapai 100 kg. komodo merupakan pemangsa puncak di habitatnya karena sejauh ini tidak diketahui adanya hewan karnivora besar lain selain biawak ini di sebarang geografisnya.tubuhnya yang besar dan reputasinya yang mengerikan membuat mereka menjadi salah satu hewan paling terkenal di dunia. sekarang, habitat komodo yang sesungguhnya telah menyusut akibat aktivitas manusia, sehingga lembaga iucn memasukkan komodo sebagai spesies yang rentan terhadap kepunahan. biawak komodo telah ditetapkan sebagai hewan yang dilindungi oleh pemerintah indonesia dan habitanya dijadikan taman nasional, yaitu taman nasional komodo, yang tujuannya didirikan untuk melindungi mereka.'

In [6]:
def text_selection(data):
    dataTraining_Selection = [word for word in data if word not in string.punctuation]
    dataTraining_Selection = ''.join(dataTraining_Selection)

    dataTraining_Selection = [word for word in dataTraining_Selection.split() if word.lower() not in stopwords_list]
    
    return dataTraining_Selection

In [7]:
datasetKeyword = pd.read_excel("datasetKeyword.xlsx")
datasetKelas = pd.read_excel("datasetKelas.xlsx", index_col='id')

In [8]:
data = text_selection(dataTraining)
data

['komodo',
 'biawak',
 'komodo',
 'varanus',
 'komodoensis',
 'spesies',
 'biawak',
 'pulau',
 'komodo',
 'rinca',
 'flores',
 'gili',
 'motang',
 'gili',
 'dasami',
 'provinsi',
 'nusa',
 'tenggara',
 'timur',
 'indonesia',
 'biawak',
 'penduduk',
 'asli',
 'pulau',
 'komodo',
 'nama',
 'orakomodo',
 'spesies',
 'terbesar',
 'familia',
 'varanidae',
 'kadal',
 'terbesar',
 'dunia',
 'ratarata',
 '23',
 'meter',
 'beratnya',
 'mencapai',
 '100',
 'kg',
 'komodo',
 'pemangsa',
 'puncak',
 'habitatnya',
 'hewan',
 'karnivora',
 'biawak',
 'sebarang',
 'geografisnyatubuhnya',
 'reputasinya',
 'mengerikan',
 'salah',
 'hewan',
 'terkenal',
 'dunia',
 'habitat',
 'komodo',
 'sesungguhnya',
 'menyusut',
 'akibat',
 'aktivitas',
 'manusia',
 'lembaga',
 'iucn',
 'memasukkan',
 'komodo',
 'spesies',
 'rentan',
 'kepunahan',
 'biawak',
 'komodo',
 'ditetapkan',
 'hewan',
 'dilindungi',
 'pemerintah',
 'indonesia',
 'habitanya',
 'dijadikan',
 'taman',
 'nasional',
 'taman',
 'nasional',
 'komodo',
 'tujuannya',
 'didirikan',
 'melindungi']

In [9]:
listData = []
listfoundData = []
for a in data:
    if a not in listData:
        listData.append(a)
    else:
        listfoundData.append(a)
        
listfoundData.sort()
listData.sort()
npLabel = []
countLabel = []
for a in listfoundData:
    if a not in npLabel and a != keyword:
        npLabel.append(a)
        countLabel.append((listfoundData.count(a) + 1))


pdTrain = pd.DataFrame({'label':npLabel, 'muncul':countLabel}).sort_values(by=['muncul', 'label'], axis=0, ascending=False)

In [10]:
pdTrain[pdTrain['muncul'] > 2]

     label  muncul
0   biawak       5
7  spesies       3
3    hewan       3

In [11]:
countKeyword = CountVectorizer(analyzer=text_selection).fit(datasetKeyword['name'].drop_duplicates())
countDataTesting = CountVectorizer(analyzer=text_selection).fit(data)

countKelas = CountVectorizer(analyzer=text_selection).fit(datasetKelas['name'].drop_duplicates())

In [12]:
couTransKey = countKeyword.transform([' '.join(data)])
couTransKelas = countKelas.transform([' '.join(data)])

In [13]:
print(couTransKey, '\n')
print(couTransKelas)

  (0, 7)	2
  (0, 20)	2

  (0, 1)	3

In [14]:
labelSet = [countKeyword.get_feature_names()[x] for x in couTransKey.indices if countKeyword.get_feature_names()[x] != keyword]
munculSet = [couTransKey.data[x] for x in range(len(couTransKey.indices)) if countKeyword.get_feature_names()[couTransKey.indices[x]] != keyword]

pdKeyword = pd.DataFrame({'label':labelSet, 'muncul':munculSet}).sort_values(axis=0, by=['muncul', 'label'], ascending=False)

In [15]:
pdKeyword

       label  muncul
1      pulau       2
0  indonesia       2

In [16]:
labelSet = [countKelas.get_feature_names()[x] for x in couTransKelas.indices if countKelas.get_feature_names()[x] != keyword]
munculSet = [couTransKelas.data[x] for x in range(len(couTransKelas.indices)) if countKelas.get_feature_names()[couTransKelas.indices[x]] != keyword]

pdKelas = pd.DataFrame({'label':labelSet, 'muncul':munculSet}).sort_values(axis=0, by=['muncul', 'label'], ascending=False)

In [17]:
pdKelas

   label  muncul
0  hewan       3

In [18]:
dataConcat = pd.concat([pdKeyword, pdKelas, pdTrain[pdTrain['muncul'] > 2]], axis=0)
dataConcat.drop_duplicates(subset='label', inplace=True)
dataConcat.reset_index(drop=True, inplace=True)

In [19]:
def searchRelevanWord(key):
    dataRelevan = wikipedia.summary(key).lower()
    dataKey = text_proses(dataRelevan)
    countKey = 0
    for i in dataKey:
        if i == keyword:
            countKey += 1
    return countKey

In [20]:
def cariKelas(key):
    labelSet = [x for x in key['label']]
    munculSet = [x for x in key['muncul']]
    keySetTes = [c for c in datasetKeyword.name if c in labelSet]
    kelasSetTes = [c for c in datasetKelas.name if c in labelSet]
    
    kelasSet = []

    for c in labelSet:
        if c in keySetTes:
            kelasSet.append(datasetKeyword.loc[datasetKeyword['name'] == c]['kelas'].values[0])
        elif c in kelasSetTes:
            kelasSet.append(datasetKelas[datasetKelas['name'] == c].index[0])
        else:kelasSet.append(-1)
            
    return pd.DataFrame({'label':labelSet, 'kelas':kelasSet, 'muncul':munculSet}).sort_values(axis=0, by=['kelas'])

In [21]:
dataConcat

       label  muncul
0      pulau       2
1  indonesia       2
2      hewan       3
3     biawak       5
4    spesies       3

In [22]:
dataNew = cariKelas(dataConcat)

In [23]:
dataNew

       label  kelas  muncul
3     biawak     -1       5
4    spesies     -1       3
2      hewan      1       3
0      pulau      2       2
1  indonesia      2       2

In [24]:
dataChecker = []
for x in dataNew[dataNew['kelas'] > 0].values:
    try:
        wikipedia.summary(f"{x[0]} {keyword}").lower()
        dataChecker.append([x[0], True])
        continue
    except:
        dataChecker.append([x[0], False])
    try:
        wikipedia.summary(f"{keyword} {x[0]}").lower()
        dataChecker.append([x[0], True])
    except:
        dataChecker.append([x[0], False])
        
dataChecker

[['hewan', True], ['pulau', True], ['indonesia', True]]

In [26]:
if dataTraining == wikipedia.summary('pulau komodo').lower():
    print(True)

In [3]:
wikipedia.summary('hewan komodo').lower()

'pulau komodo adalah sebuah pulau yang terletak di kepulauan nusa tenggara, berada di sebelah timur pulau sumbawa, yang dipisahkan oleh selat sape. pulau komodo dikenal sebagai habitat asli hewan komodo.\npulau ini termasuk salah satu kawasan taman nasional komodo yang dikelola oleh pemerintah pusat.\nsecara administratif, pulau ini termasuk wilayah kabupaten manggarai barat, kecamatan komodo, provinsi nusa tenggara timur, indonesia. pulau komodo merupakan ujung paling barat provinsi nusa tenggara timur, berbatasan dengan provinsi nusa tenggara barat.\ndi pulau komodo, hewan komodo hidup dan berkembang biak dengan baik. hingga agustus 2009, di pulau ini terdapat sekitar 1300 ekor komodo. ditambah dengan pulau lain, seperti pulau rinca dan dan gili motang, jumlah mereka keseluruhan mencapai sekitar 2500 ekor. ada pula sekitar 100 ekor komodo di cagar alam wae wuul di daratan pulau flores tapi tidak termasuk wilayah taman nasional komodo.\nselain komodo, pulau ini juga menyimpan eksotisme flora yang beragam kayu sepang yang oleh warga sekitar digunakan sebagi obat dan bahan pewarna pakaian, pohon nitak ini atau sterculia oblongata di yakini berguna sebagai obat dan bijinya gurih dan enak seperti kacang polong.\npulau komodo juga diterima sebagai situs warisan dunia unesco, karena dalam wilayah taman nasional komodo, bersama dengan pulau rinca, pulau padar dan gili motang'