In [1]:
import nltk
import wikipedia
import string
import numpy as np
import pandas as pd

In [2]:
# nltk.download_shell()

In [3]:
stopwords_list = nltk.corpus.stopwords.words('indonesian')

In [4]:
wikipedia.set_lang('id')

In [206]:
dataTraining = wikipedia.summary('singa', sentences=3).lower()

In [207]:
print(dataTraining)

singa (bahasa sanskerta: siṃha, atau nama ilmiahnya panthera leo) adalah spesies hewan dari keluarga felidae atau jenis kucing. singa merupakan hewan yang hidup berkelompok. biasanya terdiri dari seekor jantan dan banyak betina.

In [208]:
def text_proses(keyword):
#     split = keyword.split()
    
    dataTraining_Selection = [word for word in keyword if word not in string.punctuation]
    dataTraining_Selection = ''.join(dataTraining_Selection)

    
    return [word for word in dataTraining_Selection.split() if word.lower() not in stopwords_list]

In [223]:
data = text_proses(dataTraining)
print(data)
len(data)

['singa', 'bahasa', 'sanskerta', 'siṃha', 'nama', 'ilmiahnya', 'panthera', 'leo', 'spesies', 'hewan', 'keluarga', 'felidae', 'jenis', 'kucing', 'singa', 'hewan', 'hidup', 'berkelompok', 'seekor', 'jantan', 'betina']

21

In [210]:
dataset = pd.read_excel("dataset.xlsx")

In [211]:
dataset

    id          name  index
0    0        kucing      1
1    1         singa      0
2    2       mamalia      0
3    3     karnivora      0
4    4         siṃha      1
5    5         hewan      0
6    6         hewan      1
7    7        kucing      1
8    8        jantan      5
9    9        betina      5
10  10     indonesia     11
11  11      republik     10
12  12        negara     10
13  13          nkri     10
14  14  khatulistiwa     10
15  15     nusantara     10

In [314]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [231]:
count = CountVectorizer(analyzer=text_proses).fit([dataTraining])
print(count.vocabulary_)

{'singa': 16, 'bahasa': 0, 'sanskerta': 14, 'siṃha': 17, 'nama': 12, 'ilmiahnya': 6, 'panthera': 13, 'leo': 11, 'spesies': 18, 'hewan': 4, 'keluarga': 9, 'felidae': 3, 'jenis': 8, 'kucing': 10, 'hidup': 5, 'berkelompok': 1, 'seekor': 15, 'jantan': 7, 'betina': 2}

In [214]:
mess = dataset['name'].values
mess = ' '.join(mess)
mess

'kucing singa mamalia karnivora siṃha hewan hewan kucing jantan betina indonesia republik negara nkri khatulistiwa nusantara'

In [357]:
count1 = count.transform([mess])
count2 = count.transform([dataTraining])
print(count1)
print(count1.shape)

  (0, 2)	1
  (0, 4)	2
  (0, 7)	1
  (0, 10)	2
  (0, 16)	1
  (0, 17)	1
(1, 19)

In [356]:
a = count1.copy()
print(count.get_feature_names()[4])
print(count.get_feature_names()[10])

hewan
kucing

In [347]:
tfid = TfidfTransformer().fit(count1)
tfid4 = tfid.transform(count2)
print(tfid4)

  (0, 18)	0.24122010249287193
  (0, 17)	0.14246847838301768
  (0, 16)	0.28493695676603537
  (0, 15)	0.24122010249287193
  (0, 14)	0.24122010249287193
  (0, 13)	0.24122010249287193
  (0, 12)	0.24122010249287193
  (0, 11)	0.24122010249287193
  (0, 10)	0.14246847838301768
  (0, 9)	0.24122010249287193
  (0, 8)	0.24122010249287193
  (0, 7)	0.14246847838301768
  (0, 6)	0.24122010249287193
  (0, 5)	0.24122010249287193
  (0, 4)	0.28493695676603537
  (0, 3)	0.24122010249287193
  (0, 2)	0.14246847838301768
  (0, 1)	0.24122010249287193
  (0, 0)	0.24122010249287193

In [350]:
print(tfid.idf_[count.vocabulary_['kucing']])

1.0

In [354]:
from collections import Counter

items = [item for item in Counter(data).items() if item[1] > 1]
print(items)
items[1][0]

[('singa', 2), ('hewan', 2)]

'hewan'