In [1]:
import nltk
import wikipedia
import string
import math
import numpy as np
import pandas as pd

In [2]:
# nltk.download_shell()

In [3]:
stopwords_list = nltk.corpus.stopwords.words('indonesian')

In [4]:
wikipedia.set_lang('id')

In [5]:
keyword = input("Keyword : ")

Keyword : lombok

In [6]:
dataTraining = wikipedia.summary(keyword).lower()

In [7]:
print(dataTraining)

pulau lombok (jumlah penduduk pada tahun 2001: 2.722.123 jiwa) adalah sebuah pulau di kepulauan sunda kecil atau nusa tenggara yang terpisahkan oleh selat lombok dari bali di sebelah barat dan selat alas di sebelah timur dari sumbawa. pulau ini kurang lebih berbentuk bulat dengan semacam "ekor" di sisi barat daya yang panjangnya kurang lebih 70 km. luas pulau ini mencapai 5.435 kmÂ² menempatkannya pada peringkat 108 dari daftar pulau berdasarkan luasnya di dunia. kota utama di pulau ini adalah kota mataram.

In [8]:
def text_proses(key):
    
    dataTraining_Selection = [word for word in key if word not in string.punctuation]
    dataTraining_Selection = ''.join(dataTraining_Selection)

    stopwords = [word for word in dataTraining_Selection.split() if word.lower() not in stopwords_list]
    RemoveNya = [word.replace('nya', '') for word in stopwords]
    return RemoveNya

In [9]:
data = text_proses(dataTraining)
dataJoin = " ".join(data)

In [10]:
datasetKeyword = pd.read_excel("datasetKeyword.xlsx")

In [11]:
datasetKelas = pd.read_excel("datasetKelas.xlsx", index_col='id')

In [12]:
datasetKeyword

               name  kelas
0            kucing      1
1             singa      1
2           harimau      1
3              kuda      1
4          kuda nil      1
5         kuda laut      1
6            betina      1
7            jantan      1
8             tikus      1
9             gajah      1
10             ikan      1
11        indonesia      2
12            china      2
13           jepang      2
14         malaysia      2
15        singapura      2
16  amerika serikat      2
17             kota      2
18            pulau      2
19         ibu kota      2
20         semangka      3
21            jeruk      3
22             apel      3
23           pepaya      3
24            melon      3
25            jambu      3

In [13]:
datasetKelas

      name
id
1    hewan
2   negara
3     buah

In [14]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

### Korelasi Antara Dataset dengan DataTesting yang tlah diCleaning

In [15]:
count = CountVectorizer(analyzer=text_proses).fit(datasetKeyword['name'].drop_duplicates())
countDataTesting = CountVectorizer(analyzer=text_proses).fit(data)

In [16]:
mess = datasetKeyword['name'].values

Jumlah Kesamaan Data

In [17]:
count1 = count.transform([dataJoin])

In [18]:
a = count1.copy()
countCopy = count


labelSet = [countCopy.get_feature_names()[x] for x in a.indices if countCopy.get_feature_names()[x] != keyword]
munculSet = [a.data[x] for x in range(len(a.indices)) if countCopy.get_feature_names()[a.indices[x]] != keyword]

pdSet = pd.DataFrame({'label':labelSet, 'muncul':munculSet}).sort_values(axis=0, by=['muncul', 'label'], ascending=False)

In [19]:
listData = []
listfoundData = []
for a in data:
    if a not in listData:
        listData.append(a)
    else:
        listfoundData.append(a)
        
listfoundData.sort()
listData.sort()
npLabel = []
countLabel = []
for a in listfoundData:
    if a not in npLabel and a != keyword:
        npLabel.append(a)
        countLabel.append((listfoundData.count(a) + 1))


pdTrain = pd.DataFrame({'label':npLabel, 'muncul':countLabel}).sort_values(by=['muncul', 'label'], axis=0, ascending=False)

Hasil Keyword yang muncul berulang pada DataTrain

In [20]:
pdTrain

     label  muncul
3    pulau       6
5    selat       2
4  sebelah       2
2     luas       2
1     kota       2
0    barat       2

Hasil Dataset x DataTrain

In [21]:
pdSet

   label  muncul
1  pulau       6
0   kota       2

In [ ]:
data_satu = datasetKeyword['label']

Keyword DataTrain yang terdapat pada DataSet

In [22]:
pdTrainCopy = pdTrain.drop(pdTrain[(pdTrain['muncul'] < 3)].index, axis=0)
pdTrainSelection = pdTrain.drop(pdTrain[(pdTrain['muncul'] > 2)].index, axis=0)
pdTrainSelection.reset_index(drop=True, inplace=True)

dataConcat = pd.concat([pdSet, pdTrainCopy], axis=0)
dataConcat.drop_duplicates(subset='label', inplace=True)
dataConcat.sort_values(by=['muncul'], axis=0, ascending=False, inplace=True)
dataConcat.reset_index(drop=True, inplace=True)
dataConcat

   label  muncul
0  pulau       6
1   kota       2

In [23]:
for i in dataConcat['label']:
    pdTrainSelection.drop(pdTrainSelection[pdTrainSelection['label'] == i].index, axis=0, inplace=True)

Keyword DataTrain yang tidak terdapat pada DataSet yang akan diseleksi untuk mengetahui tingkat relevan

In [24]:
pdTrainSelection

     label  muncul
0    selat       2
1  sebelah       2
2     luas       2
4    barat       2

In [25]:
def searchRelevanWord(key):
    dataRelevan = wikipedia.summary(key).lower()
    dataKey = text_proses(dataRelevan)
    countKey = 0
    for i in dataKey:
        if i == keyword:
            countKey += 1
    return countKey

In [41]:
dfRelevan = pd.DataFrame({'label': dataConcat['label'], 'jumlah':np.zeros(len(dataConcat['label']))}).sort_values(by=['jumlah'], ascending=False)

for y in range(len(dfRelevan['label'])):
    try:   
        search = searchRelevanWord(dfRelevan.loc[y, 'label'])
        dfRelevan.loc[y, 'jumlah'] = search
    except (wikipedia.DisambiguationError, Exception) as e:
        print('gagal', dfRelevan.loc[y, 'label'])
        dfRelevan.loc[y, 'jumlah'] = -1
        
dfRelevan.sort_values(by=['jumlah'], axis=0, ascending=False, inplace=True)
dfRelevan.reset_index(drop=True, inplace=True)
dfRelevan

gagal amerika

C:\Users\LENOVO\anaconda3\lib\site-packages\wikipedia\wikipedia.py:389: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 389 of the file C:\Users\LENOVO\anaconda3\lib\site-packages\wikipedia\wikipedia.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  lis = BeautifulSoup(html).find_all('li')

     label  jumlah
0     ikan     2.0
1  spesies     0.0
2      air     0.0
3     laut     0.0
4  amerika    -1.0

In [42]:
dfRelevanSeleksi = pd.DataFrame({'label': pdTrainSelection['label'], 'jumlah':np.zeros(len(pdTrainSelection['label']))})
dfRelevanSeleksi.reset_index(drop=True, inplace=True)

for y in range(len(dfRelevanSeleksi['label'])):
    try:   
        search = searchRelevanWord(dfRelevanSeleksi.loc[y, 'label'])
        dfRelevanSeleksi.loc[y, 'jumlah'] = search
    except Exception as e :
        print('gagal', dfRelevanSeleksi.loc[y, 'label'])
        dfRelevanSeleksi.loc[y, 'jumlah'] = -1
        
dfRelevanSeleksi.sort_values(by=['jumlah'], axis=0, ascending=False, inplace=True)
dfRelevanSeleksi.reset_index(drop=True, inplace=True)
dfRelevanSeleksi

   label  jumlah
0  tubuh     0.0
1   paus     0.0
2  kulit     0.0

In [43]:
wikipedia.summary('ikan').lower()

'ikan adalah anggota vertebrata poikilotermik (berdarah dingin) yang hidup di air dan bernapas dengan insang. ikan merupakan kelompok vertebrata yang paling beraneka ragam dengan jumlah spesies lebih dari 27,000 di seluruh dunia. secara taksonomi, ikan tergolong kelompok paraphyletic yang hubungan kekerabatannya masih diperdebatkan; biasanya ikan dibagi menjadi ikan tanpa rahang (kelas agnatha, 75 spesies termasuk lamprey dan ikan hag), ikan bertulang rawan (kelas chondrichthyes, 800 spesies termasuk hiu dan pari), dan sisanya tergolong ikan bertulang keras (kelas osteichthyes). ikan dalam berbagai bahasa daerah disebut iwak (jv, bjn), jukut (vkt).ikan memiliki bermacam ukuran, mulai dari paus hiu yang berukuran 14 meter (45 ft) hingga stout infantfish yang hanya berukuran 7 mm (kira-kira 1/4 inch). ada beberapa hewan air yang sering dianggap sebagai "ikan", seperti paus, ikan cumi dan ikan duyung, yang sebenarnya tidak tergolong sebagai ikan.\nsampai saat ini, ikan pada umumnya dikonsumsi langsung. upaya pengolahan belum banyak dilakukan kecuali ikan asin. ikan dapat diolah menjadi berbagai produk seperti ikan kering, dendeng ikan, abon ikan, kerupuk ikan, ikan asin, kemplang, bakso ikan dan tepung darah ikan sebagai pupuk tanaman dan pakan ikan.'

In [33]:
def textProsesSet(key):
    arr = [a for a in key if a not in stopwords_list]
            
    return arr

In [55]:
keyWord1 = input("Keyword : ")

Keyword : komodo

In [56]:
dataTraining = wikipedia.summary(keyWord1).lower()

In [57]:
dataTraining

'komodo, atau juga disebut biawak komodo (varanus komodoensis), adalah spesies biawak besar yang terdapat di pulau komodo, rinca, flores, gili motang, dan gili dasami di provinsi nusa tenggara timur, indonesia. biawak ini oleh penduduk asli pulau komodo juga disebut dengan nama setempat ora.komodo merupakan spesies terbesar dari familia varanidae, sekaligus kadal terbesar di dunia, dengan rata-rata panjang 2-3 meter dan beratnya bisa mencapai 100 kg. komodo merupakan pemangsa puncak di habitatnya karena sejauh ini tidak diketahui adanya hewan karnivora besar lain selain biawak ini di sebarang geografisnya.tubuhnya yang besar dan reputasinya yang mengerikan membuat mereka menjadi salah satu hewan paling terkenal di dunia. sekarang, habitat komodo yang sesungguhnya telah menyusut akibat aktivitas manusia, sehingga lembaga iucn memasukkan komodo sebagai spesies yang rentan terhadap kepunahan. biawak komodo telah ditetapkan sebagai hewan yang dilindungi oleh pemerintah indonesia dan habitanya dijadikan taman nasional, yaitu taman nasional komodo, yang tujuannya didirikan untuk melindungi mereka.'

In [58]:
data = text_proses(dataTraining)
dataJoin = " ".join(data)

In [59]:
print(data)
# print(dataJoin)

['komodo', 'biawak', 'komodo', 'varanus', 'komodoensis', 'spesies', 'biawak', 'pulau', 'komodo', 'rinca', 'flores', 'gili', 'motang', 'gili', 'dasami', 'provinsi', 'nusa', 'tenggara', 'timur', 'indonesia', 'biawak', 'penduduk', 'asli', 'pulau', 'komodo', 'nama', 'orakomodo', 'spesies', 'terbesar', 'familia', 'varanidae', 'kadal', 'terbesar', 'dunia', 'ratarata', '23', 'meter', 'berat', 'mencapai', '100', 'kg', 'komodo', 'pemangsa', 'puncak', 'habitat', 'hewan', 'karnivora', 'biawak', 'sebarang', 'geografistubuh', 'reputasi', 'mengerikan', 'salah', 'hewan', 'terkenal', 'dunia', 'habitat', 'komodo', 'sesungguh', 'menyusut', 'akibat', 'aktivitas', 'manusia', 'lembaga', 'iucn', 'memasukkan', 'komodo', 'spesies', 'rentan', 'kepunahan', 'biawak', 'komodo', 'ditetapkan', 'hewan', 'dilindungi', 'pemerintah', 'indonesia', 'habita', 'dijadikan', 'taman', 'nasional', 'taman', 'nasional', 'komodo', 'tujuan', 'didirikan', 'melindungi']
komodo biawak komodo varanus komodoensis spesies biawak pulau komodo rinca flores gili motang gili dasami provinsi nusa tenggara timur indonesia biawak penduduk asli pulau komodo nama orakomodo spesies terbesar familia varanidae kadal terbesar dunia ratarata 23 meter berat mencapai 100 kg komodo pemangsa puncak habitat hewan karnivora biawak sebarang geografistubuh reputasi mengerikan salah hewan terkenal dunia habitat komodo sesungguh menyusut akibat aktivitas manusia lembaga iucn memasukkan komodo spesies rentan kepunahan biawak komodo ditetapkan hewan dilindungi pemerintah indonesia habita dijadikan taman nasional taman nasional komodo tujuan didirikan melindungi

In [60]:
dataSetKeyword = pd.read_excel("datasetKeyword.xlsx")
dataSetKelas = pd.read_excel("datasetKelas.xlsx")

In [61]:
count = CountVectorizer(analyzer=textProsesSet).fit([dataSetKeyword['name']])
countVectorKelas = CountVectorizer(analyzer=text_proses).fit(dataSetKelas['name'])

In [62]:
count1 = count.transform([data])
countKelas = countVectorKelas.transform([dataJoin])

In [63]:
a = count1.copy()

labelSet = [count.get_feature_names()[x] for x in a.indices]
munculSet = [a.data[x] for x in range(len(a.indices))]
kelasSetTes = [c for c in dataSetKeyword.name if c in labelSet]
kelasSet = []

for c in labelSet:
    if c in kelasSetTes:
        kelasSet.append(dataSetKeyword.loc[dataSetKeyword['name'] == c]['kelas'].values[0])
    else:kelasSet.append(-1)
    
print(kelasSet)

pdSet = pd.DataFrame({'label':labelSet, 'kelas':kelasSet, 'muncul':munculSet}).sort_values(axis=0, by=['muncul', 'label'], ascending=False)

[2, 2]

In [64]:
print(count.get_feature_names())
print('ini :', count1)

['amerika serikat', 'apel', 'betina', 'china', 'gajah', 'harimau', 'ibu kota', 'ikan', 'indonesia', 'jambu', 'jantan', 'jepang', 'jeruk', 'kota', 'kucing', 'kuda', 'kuda laut', 'kuda nil', 'malaysia', 'melon', 'pepaya', 'pulau', 'semangka', 'singa', 'singapura', 'tikus']
ini :   (0, 8)	2
  (0, 21)	2

In [65]:
pdSet

       label  kelas  muncul
1      pulau      2       2
0  indonesia      2       2

In [39]:
aKelas = countKelas.copy()

labelSetKelas = [countVectorKelas.get_feature_names()[x] for x in aKelas.indices]
munculSetKelas = [aKelas.data[x] for x in range(len(aKelas.indices))]

pdSetKelas = pd.DataFrame({'label':labelSetKelas, 'muncul':munculSetKelas}).sort_values(axis=0, by=['muncul', 'label'], ascending=False)

In [40]:
pdSetKelas

Empty DataFrame
Columns: [label, muncul]
Index: []

In [41]:
def selectionDuplicate(valueTrain):
    listData = []
    listfoundData = []
    for a in valueTrain:
        if a not in listData:
            listData.append(a)
        else:
            listfoundData.append(a)

    npLabel = []
    countLabel = []
    for a in listfoundData:
        if a not in npLabel:
            npLabel.append(a)
            countLabel.append((listfoundData.count(a) + 1))


    pdTrain = pd.DataFrame({'label':npLabel, 'muncul':countLabel})
    return pdTrain

In [42]:
dataTrainSelect = selectionDuplicate(data)

In [43]:
dataTrainSelect

     label  muncul
0    pulau       6
1   lombok       2
2    selat       2
3  sebelah       2
4    barat       2
5     luas       2
6     kota       2